img
{
    width:100%;
    height:80%px;
}

.h2 {
    font-family: "Cafe24Ssurround";
    margin-top: 31pt;
    font-size: 3.4rem;
    font-weight: 300;
}

.h3{
    font-family: "Cafe24Ssurround";
    font-size: 2rem;
}

.startbutton {
    
    margin-top: 20pt;
    margin-bottom: 50pt;
    display: inline-block;
    width: 50%;
    box-shadow: 0.3rem 0.4rem 0 #222222;
    border-radius: 3rem;
    border: 0.25rem solid #222222;
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
    font-family: "Cafe24Ssurround";
    background: #ffd524;
}



#fcb{
    width: 50px;
    height: 50px;
}

#insta{
    width:55px;
    height: 55px;
}

#twitter{
    width:55px;
    height: 55px;
}

#kakao{
    width:55px;
    height: 55px;
}
